* {
    padding: 0;
    margin: 0;
}

button {
    height: 50px;
    padding: 0 20px;
    margin: 5px;
    border: none;
    border-radius: 10px;;
}

.selected{
    text-decoration: underline;
    font-weight: bold;
}