* {
    font-family: Helvetica;
    scroll-behavior: smooth;
    max-width: 100vw;
    overflow-x: clip;
}

body {
    margin: 0
}

#map-container {
    margin: 0;
    display: flex;
    justify-content: center;
    position: relative;
}

#fullScreen{
    height: 100vh;
    width: 100vw;
}

.state {
    fill: grey;
    stroke: white;
    stroke-width: 0.5;
}

.tooltip {
    font-size: calc(16px + 0.3vw);
    background-color: white;
    border-radius: 15px;
    padding: 5px;
}

svg {
    background-color: rgb(0, 182, 182);
}

#top-bar {
    position: relative;
    background-color: rgb(82, 82, 82);
    width: 100%;
    z-index: 9;
}

.filterBtn {
    border: none;
    color: white;
    background-color: rgb(168, 168, 168);
    font-size: 20px;
    margin: 5px;
}

.goToChartBtn {
    border: none;
    color: white;
    background-color: rgb(168, 168, 168);
    font-size: 20px;
    margin: 5px;
}

.selected {
    background-color: rgb(29, 228, 211);
}

#title {
    position: absolute;
    text-align: center;
    color: white;
    font-size: calc(20px + 1vw);
    margin: 0;
    top: 2vh;
}

.state {
    transition-duration: 0.25s;
}

#quickStats{
    position: absolute;
    bottom: calc(5vw);
    right: 0;
    display: inline-block;
    color: white;
    /* max-width: calc(150px + 3.7vw); */
    padding-right: 10px;
    font-size: calc(16px + 0.1vw);
}

#legend{
    position: absolute;
    bottom: calc(5vw);
    left: 20px;
    color: white;
}
#legend div{
    display: inline-block;
    --size: calc(10px + 0.3vw);
    width: var(--size);
    height: var(--size);
    border: 2px solid white;
    background-color: red;
}
#legend p {
    display: inline-block;
    font-size: calc(20px + 0.3vw);
    text-align: center;
    font-weight: 100;
    margin: 0;
    margin-left: 5px;
}

#quickStats p{
    margin: 0;
    font-size: inherit;
}
#quickStats b{
    text-align: center;
}

.padded{
    position: relative;
    z-index: 4;
    padding: calc(1vw + 10px);
}

.centerTxt {
    text-align: center;
}

.textSection img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: opacity(0.3) grayscale(1);
}

#intro{
    min-height: 100vh;
    width: 100%;
}

.padded p {
    font-size: calc(10px + 1.2vw);
}

.padded h1{
    font-size: calc(20px + 2vw);
    /* transform: translateX(-25%); */
}

#goToChartBtn {
    display: block;
    text-align: center;
    width: 100%;
}

#goToChartBtn img{
    z-index: 999;
    filter: invert(1);
    border: none;
    color: white;
    --size: calc(50px + 2vw);
    width: var(--size);
    height: var(--size);
    transform: translateX(-50%);
}

a {
    color: inherit;
}